<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!--EntityFramework节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis" />
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=192.168.3.138;Initial Catalog=HDIPlatform_DesignSystem_New;User Id=sa;Password=abc@123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--日志连接字符串-->
    <add name="LogConnection" connectionString="Data Source=192.168.3.138;Initial Catalog=ShSoft_Log;User Id=sa;Password=abc@123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <!--编号生成器连接字符串-->
    <!--键：约定；值：connectionString name-->
    <add key="NoConnection" value="DefaultConnection" />
    <!--日志连接字符串-->
    <!--键：约定；值：connectionString name-->
    <add key="LogConnection" value="LogConnection" />
    <!--实体所在程序集-->
    <add key="EntityAssembly" value="HDIPlatform.DesignSystem.Domain" />
    <!--实体配置所在程序集-->
    <add key="EntityConfigAssembly" value="HDIPlatform.DesignSystem.Repository" />
    <!--领域事件源所在程序集-->
    <add key="EventSourceAssembly" value="HDIPlatform.DesignSystem.Domain" />
    <!--数据表名前缀-->
    <add key="TablePrefix" value="TDES" />
    <!--是否开启自动数据迁移，是：true，否：false-->
    <add key="AutoMigration" value="false" />
    <!--是否启用Redis缓存-->
    <add key="UseRedisCache" value="false" />
    <!--Redis缓存连接字符串-->
    <add key="RedisConnectionString" value="222.171.202.235:65011,allowAdmin=true" />
    <!--缓存滑动过期时间（分钟）-->
    <add key="SlidingTimeout" value="5" />
    <!--缓存绝对过期时间（分钟）-->
    <add key="AbsoluteTimeout" value="30" />
  </appSettings>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="HDIPlatform.DesignSystem.AppService" />
      <assembly name="HDIPlatform.DesignSystem.DomainService" />
      <assembly name="HDIPlatform.DesignSystem.DomainEventHandler" />
      <assembly name="HDIPlatform.DesignSystem.Repository" />
    </asInterfaceAssemblies>

    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="HDIPlatform.DesignSystem.AppService" />
    </asSelfAssemblies>

    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="ShSoft.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="ShSoft.Infrastructure.EventStoreProvider.Redis" />
      <type name="ShSoft.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="ShSoft.Infrastructure.Repository.EntityFramework" />
    </asInterfaceTypes>

    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="HDIPlatform.DesignSystem.Repository.Base.DbSession" assembly="HDIPlatform.DesignSystem.Repository" />
    </asBaseTypes>

    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="HDIPlatform.DesignSystem.Domain.Mediators.DomainServiceMediator" assembly="HDIPlatform.DesignSystem.Domain" />
      <type name="HDIPlatform.DesignSystem.Domain.Mediators.RepositoryMediator" assembly="HDIPlatform.DesignSystem.Domain" />
    </asSelfTypes>

    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="" />-->
      <!--供应商-->
      <assembly name="HDIPlatform.SupplierSystem.IAppService" />
      <!--资源服务-工艺-->
      <assembly name="HDIPlatform.ResourceService.IAppService" />
      <!--市场-->
      <assembly name="HDIPlatform.MarketSystem.IAppService" />
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="WriteHost" host="222.171.202.135" port="65011" password="" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="ReadHost" host="222.171.202.135" port="65011" password="" />
    </readOnlyServers>
  </redisConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--固定套餐模板服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.FixedMealContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IFixedMealContract" />
      </service>
      <!--大包/定制套餐模板服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.BaleContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IBaleContract" />
      </service>
      <!--户型定价服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.HouseTypePackContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IHouseTypePackContract" />
      </service>
      <!--For事务流转服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.ForTransContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="TransactionBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IForTransContract" />
      </service>
      <!--For配置服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.ConfigContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IConfigContract" />
      </service>
      <!--ForApp服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.ForAppContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IForAppContract" />
      </service>
      <!--文章服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="HDIPlatform.DesignSystem.AppService.Implements.ArticleContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.DesignSystem.IAppService.Interfaces.IArticleContract" />
      </service>
    </services>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <wsHttpBinding>
        <!--默认绑定配置-->
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!--事务绑定配置-->
        <binding name="TransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:10:00" />
        </binding>
        <!--事务绑定配置（无可靠性会话）-->
        <binding name="NotReliableSessionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--是否允许get请求访问-->
          <serviceMetadata httpGetEnabled="true" />
          <!--是否显示异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
          <!--依赖注入扩展配置-->
          <injection />
          <!--初始化扩展配置-->
          <initialization />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF客户端配置-->
    <client>
      <!--品类管理服务契约配置-->
      <endpoint address="http://222.171.202.135:23005/11Supplier_WcfHost/Hosts/CategoryContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.SupplierSystem.IAppService.Interfaces.ICategoryContract" name="HDIPlatform.SupplierSystem.IAppService.Interfaces.ICategoryContract" />
      <!--资源服务-商品-->
      <endpoint address="http://222.171.202.135:23005/37Resource_WcfHost/Hosts/ProductContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.ResourceService.IAppService.Interfaces.IProductContract" name="HDIPlatform.ResourceService.IAppService.Interfaces.IProductContract" />
      <endpoint address="http://222.171.202.135:23005/37Resource_WcfHost/Hosts/CraftEntityContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.ResourceService.IAppService.Interfaces.ICraftEntityContract" name="HDIPlatform.ResourceService.IAppService.Interfaces.ICraftEntityContract" />

      <!--客户模型服务契约配置-->
      <endpoint address="http://222.171.202.135:23005/01Market_WcfHost/Hosts/CustomerModelContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.MarketSystem.IAppService.Interfaces.ICustomerModelContract" name="HDIPlatform.MarketSystem.IAppService.Interfaces.ICustomerModelContract" />

    </client>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF"/>
        <!--初始化扩展配置-->
        <add name="initialization" type="ShSoft.Infrastructure.WCF.Server.InitializationBehaviorElement, ShSoft.Infrastructure.WCF.Server" />
      </behaviorExtensions>
    </extensions>
    <!--WCF多宿主绑定配置-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>